flask
flask_cors
pandas
numpy
scikit-learn
gunicorn
itsdangerous
Jinja2
MarkupSafe
pyyaml
click
six
aniso8601
boto3
botocore
CacheControl
certifi
chardet
docutils
Flask-RESTful
idna
iso3166
jmespath
msgpack
polyline
python-dateutil
pytz
requests
s3transfer
uritemplate
urllib3
Werkzeug