.lin-regress__points-list {
    height: 120px;
    overflow: auto;
}

.point-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    border-style: none none none none;
    border-width: 2px;
}

.point-row__point {
    padding-right: 10px !important;
    font-weight: bold;
    font-size: larger;
}

.point-row__delete {
    padding: 5px 0px 5px 10px !important;
}