.navbar {
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: rgb(53, 88, 118);
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.navbar__icon {
    margin: 0;
    font-size: 1.5rem;
}

.navbar__icon a:hover,
.navbar__icon a:active,
.navbar__icon a.active {
    color: black;
}

.navbar__items {
    margin-left: 1.5rem;
}

.navbar__items ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar__items li {
    margin: 0 1rem;
}

.navbar__items a {
    text-decoration: none;
    color: black;    
}

.navbar__items a:hover,
.navbar__items a:active,
.navbar__items a.active {
    color: white;
}