.svm {
    display: grid !important;
    grid-template-rows: 230px 150px;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 15px;
    padding: 15px;
}

.svm__form {
    grid-row: 1/2;
    grid-column: 1/2;
}

.svm__points {
    grid-row: 2/3;
    grid-column: 1/2;
    padding-top: 10px;
}

.svm__chart {
    display: flex;
    align-items: center;
    grid-row: 1/3;
    grid-column: 2/5;
}

.svm__background {
    padding-top: 25px;
    padding-bottom: 50px;
    width: 90%;
}

.dashed {
    stroke-dasharray: 5,5;
}

.svm-image {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 30px;
}

.svm__slider {
    display: flex;
    align-items: top;
    justify-content: center;
    grid-row: 3/4;
    grid-column: 2/5;
}

.svm__stats {
    display: flex;
    align-items: top;
    justify-content: left;
    grid-row: 3/4;
    grid-column: 1/2;
}